@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?bj2kmf');
	src:url('fonts/icomoon.eot?#iefixbj2kmf') format('embedded-opentype'),
		url('fonts/icomoon.woff?bj2kmf') format('woff'),
		url('fonts/icomoon.ttf?bj2kmf') format('truetype'),
		url('fonts/icomoon.svg?bj2kmf#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pacman:before {
	content: "\e600";
}
.icon-support:before {
	content: "\e601";
}
.icon-phone:before {
	content: "\e602";
}
.icon-compass:before {
	content: "\e603";
}
.icon-mobile:before {
	content: "\e604";
}
.icon-undo:before {
	content: "\e605";
}
.icon-undo2:before {
	content: "\e606";
}
.icon-bubbles:before {
	content: "\e607";
}
.icon-user:before {
	content: "\e608";
}
.icon-quotes-left:before {
	content: "\e609";
}
.icon-expand:before {
	content: "\e60a";
}
.icon-cog:before {
	content: "\e60b";
}
.icon-stats:before {
	content: "\e60c";
}
.icon-trophy:before {
	content: "\e60d";
}
.icon-signup:before {
	content: "\e60e";
}
.icon-phone2:before {
	content: "\e60f";
}
.icon-paperplane:before {
	content: "\e610";
}
.icon-quote:before {
	content: "\e611";
}
.icon-trophy2:before {
	content: "\e612";
}
.icon-airplane:before {
	content: "\e613";
}
.icon-rss:before {
	content: "\e614";
}
.icon-minus:before {
	content: "\e615";
}
.icon-plus:before {
	content: "\e616";
}
.icon-arrow-left:before {
	content: "\e617";
}
.icon-github:before {
	content: "\e618";
}
.icon-twitter:before {
	content: "\e619";
}
.icon-facebook:before {
	content: "\e61a";
}
.icon-googleplus:before {
	content: "\e61b";
}
.icon-linkedin:before {
	content: "\e61c";
}
.icon-instagram:before {
	content: "\e61d";
}
.icon-skype:before {
	content: "\e61e";
}
