////////////////////////////////////////////////////////////////
// GENERAL CSS
////////////////////////////////////////////////////////////////

//-------- MEDIA QUERY VARIABLES --------//
@2000: ~"screen and (max-width: 2000px)";
@1700: ~"screen and (max-width: 1700px)";
@1600: ~"screen and (max-width: 1600px)";
@1500: ~"screen and (max-width: 1500px)";
@1400: ~"screen and (max-width: 1400px)";
@1300: ~"screen and (max-width: 1300px)";
@1200: ~"screen and (max-width: 1200px)";
@1100: ~"screen and (max-width: 1100px)";
@ipadlc: ~"screen and (max-width: 1024px)";
@1000: ~"screen and (max-width: 1000px)";
@900: ~"screen and (max-width: 900px)";
@800: ~"screen and (max-width: 800px)";
@ipadpt: ~"screen and (max-width: 768px)";
@700: ~"screen and (max-width: 700px)";
@600: ~"screen and (max-width: 600px)";
@iphonelc: ~"screen and (max-width: 568px)";
@500: ~"screen and (max-width: 500px)";
@400: ~"screen and (max-width: 400px)";
@iphonept: ~"screen and (max-width: 320px)";
@retina: ~"(-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi)";
 
 
//--------------- IMPORTS ---------------//
 
@import "normalize.css";
@import "../icons/style.css"; // Icons
@import "/public/css/form-component.css"; // Form
@import "/public/css/morphing-component.css"; // Morphing Devices

//---------------- FONTS ----------------//

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

//---------------- COLOURS ---------------//
@purple: #9e0fe0;

@grey: #4E4E56;
@red: #DA635D;
@skin: #DCD0C0;
@brown: #B1938B;

@black: #232323;
@transparent-grey: rgba(0,0,0, 0.2);
@transparent-grey2: rgba(0,0,0, 0.4);

@facebook: #3b5998;
@github: #8c429c;
@twitter: #00aced;
@linkedin: #007bb6;
@skype: #12A5F4;
 
//------------ PARENTS STYLES -----------//

a{
	text-decoration: none;
	color: @purple;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

//------------ OOCSS CLASSES ------------//

.hold{
	max-width: 1024px;
	margin: 0 auto;
	width: 100%;
	@media @1100{
		width: 95%;
	}
	@media @500{
		width: 90%;
	}
}

.long-hold{
	width: 97.5%;
	max-width: 1600px;
	display: inline-block;
	@media @1700{
		width: 95%;
	}
	@media @500{
		display: none;
	}
}

.red{
	color: @red;
}

.button{
	padding: 15px 20px;
	background-color: @red;
	color: white;
	display: inline-block;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: bold;
	font-family: "Open Sans";
	overflow: hidden;
		i::before{
			font-size: 25px;
		}
}

.vertical-swap{
	// overflow: hidden;
	position: relative;
	vertical-align: top;
	.first-content{
		transition: transform .3s;
		display: block;
	}
	.second-content{
		padding-top: inherit;
	}
	.second-content::before{
		position: absolute;
		display: block;
		padding-top: inherit;
		text-align: center;
		width: 100%;
		top: -100%;
		left: 0;
		transition: all .3s;
	}
	&:hover .second-content::before{
		top: 0;
	}
	&:hover .first-content{
		display: block;
		transform: translateY(300%);
	}
}

.vertical-swap-opposite{
	// overflow: hidden;
	position: relative;
	vertical-align: top;
	.first-content::before{
		transition: transform .3s;
		display: block;
	}
	.second-content{
		position: absolute;
		display: block;
		padding-top: inherit;
		text-align: center;
		width: 100%;
		top: -100%;
		left: 0;
		transition: all .3s;
	}
	&:hover .second-content{
		top: 0;
	}
	&:hover .first-content::before{
		display: block;
		transform: translateY(200%);
	}
}





.column1-3{
	display: inline-block;
	width: 33.33%;
	box-sizing: border-box;
	vertical-align: top;
	text-align: center;
	@media @1000{
		width: 50%;
	}
	@media @500{
		width: 100%;
	}
	&:nth-child(1){
		padding-right: 3%;
		@media @500{
			padding: 0;
		}
	}
	&:nth-child(2){
		padding: 0 1.66%;
		@media @1000{
			padding-left: 3%;
		}
		@media @500{
			padding: 0;
		}
	}
	&:nth-child(3){
		padding-left: 3%;
		@media @1000{
			display: none;
		}
	}
}




.column1-2{
	display: inline-block;
	width: 50%;
	box-sizing: border-box;
	vertical-align: top;
	text-align: center;
	@media @600{
		width: 100px;
	}
	&:nth-child(1){
		padding-right: 2.5%;
	}
	&:nth-child(2){
		padding-left: 2.5%;
	}
}



////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
// HOME PAGE
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////



body{
	font: 16px "Open Sans", Arial;
	color: @grey;
}

.wrapper{
	position: relative;
	z-index: 1;
	background-color: white;
}



/////////////////// NAV MENU /////////////////////////////

.s-navigation{
	position: fixed;
	z-index: 10;
	text-align: center;
	width: 100%;
	background-color: @grey;
	opacity: 0;
	transition: opacity 0.2s;
	@media @1000{
		text-align: right;
	}
	@media @600{
		display: none;
	}

	&.opaque{
		opacity: 1;
	}

	.hold{
		display: inline-block;
		text-align: right;
		@media @1100{
			width: 97.5%;
		}
	}

	nav{
		a{
			display: inline-block;
			vertical-align: top;
			line-height: 70px;
			padding: 0 20px;
			color: white;
			font-size: 20px;
			font-weight: 700;
			transition: background-color .3s;
			@media @800{
				font-size: 16px;
				line-height: 50px;
				padding: 0 10px;
			}
			&.contact{
				background-color: @red;
			}
			&:hover{
				background-color: black;
			}
			&.left{
				float: left;
				background-color: transparent;
			}

			&:first-child{
				padding-left: 0;
			}
			h1{
				font-size: 20px;
				font-weight: 700;
				color: @red;
				@media @800{
					font-size: 16px;
				}
			}
		}
	}
}







//////////////// FIRST SECTION //////////////////////////////////
.s-first{
	width: 100%;
	background: url(/public/images/first-section-bg.jpg) top right no-repeat;
	background-size: cover;
	.hold{
		h2,h3,p{
			margin: 0;
			color: @black;
			font-weight: bold;
			font-size: 30px;
		}
		h3{
			font-size: 110px;
			margin-bottom: 30px;
			margin-left: -8px;
		}
		p{
			.curly-brackets{
				font-size: 45px;
				color: @grey;
			}
		}
	}
}




//////////////// GREETINGS SECTION //////////////////////////////////
.s-greetings{
	background-color: @grey;
	text-align: center;
	padding: 60px 0;
	.first{
		width: 100%;
		display: inline-block;
		h2{
			color: white;
			font-size: 40px;
		}
	}
	.second{
		width: 100%;
		display: inline-block;
		p{
			color: white;
			font-size: 24px;
		}
	}
	.button{
		margin-top: 40px;
	}
}


//////////////// MORPHING SECTION //////////////////////////////////
.s-morphing{
	background-color: @brown;
	.md-slider{
		margin: 0;
	}
	.md-device{
		 button::before{
			font-family: 'icomoon';
			content: "\e606";
			transform: scaleX(-1);
			display: block;
		 }
	}
}

//////////////// PORTFOLIO SECTION //////////////////////////////////

/*
.s-portfolio{
	ul{
		display: inline-block;
		vertical-align: top;
		width: 50%;
		@media @1000{
			width: 100%;
		}
	}
	.box{
		width: 50%;
		display: inline-block;
		vertical-align: top;
		background: no-repeat center center;
		position: relative;
		&.box-1{background-image: url(//placekitten.com/800/300);}
		&.box-2{background-image: url(//placekitten.com/800/300);} // 800/600
		&.box-3{background-image: url(//placekitten.com/1400/600);}
		&.box-4{background-image: url(//placekitten.com/800/1000);}
		&.box-5{background-image: url(//placekitten.com/800/1000);}
		&::after{
			padding-top: 56.25%; 
			display: block;
			content: '';
		}
		&.small{
			@media @500{
				display: none;
			}
		}
		&.horizontal{
			&::after{
				padding-top: 28.16%;
			}
		}
		&.vertical{
			.inner{
				.inside-inner{
					padding-top: 40%;
				}
			}
			&::after{
				padding-top: 112.55%;
			}
		}
		.inner{
			position: absolute;
			display: block;
    		top: 0; bottom: 0; right: 0; left: 0; 
    		background-color: @transparent-grey;
			&:hover{
				transition: background-color .2s ease-out;
    			background-color: @transparent-grey2;
    			.inside-inner{
    				bottom: 100px;
    			}

			}
			.inside-inner{
				text-align: center;
				position: absolute;
				bottom: 10px;
				width: 100%;
				transition: bottom .3s;
				h5{
					text-transform: uppercase;
					font-weight: 600;
					color: white;
					font-size: 25px;
					@media @1100{
						font-size: 20px;
					}
				}
				h6{
					color: white;
				}
			}
		}
	}
	.horizontal{
		width: 100%;
	}
}

*/


.s-portfolio{
	position: relative;
	overflow: hidden;

	h2{
		color: white;
		text-transform: uppercase;
	}

	p{
		color: white;
	}

	figure {
		background: @skin;
		position: relative;
		float: left;
		overflow: hidden;
		width: 25%;
		text-align: center;
		cursor: pointer;
		@media @1400{
			width: 50%;
		}
		@media @800{
			width: 100%;
		}
	}

	figure img {
		opacity: 0.7;
		-webkit-transition: opacity 0.35s;
		transition: opacity 0.35s;
		position: relative;
		display: block;
		min-height: 100%;
		max-width: 100%;
	}

	figure:hover img {
		opacity: 0.4;
	}

	figure figcaption {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	figure figcaption::before,
	figure figcaption::after {
		position: absolute;
		top: 30px;
		right: 30px;
		bottom: 30px;
		left: 30px;
		content: '';
		opacity: 0;
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
	}

	figure figcaption::before {
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		-webkit-transform: scale(0,1);
		transform: scale(0,1);
	}

	figure figcaption::after {
		border-right: 1px solid #fff;
		border-left: 1px solid #fff;
		-webkit-transform: scale(1,0);
		transform: scale(1,0);
	}

	figure h2 {
		padding-top: 30%;
		-webkit-transition: -webkit-transform 0.35s;
		transition: transform 0.35s;
		-webkit-transform: translate3d(0,-20px,0);
		transform: translate3d(0,-20px,0);
	}

	figure p {
		padding: 20px 2.5em;
		opacity: 0;
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
		-webkit-transform: translate3d(0,20px,0);
		transform: translate3d(0,20px,0);
	}

	figure a {
		z-index: 9;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		outline: 0;
	}

	figure:hover figcaption::before,
	figure:hover figcaption::after {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	figure:hover h2,
	figure:hover p {
		opacity: 1;
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
}



/////////// TECHONOLOGIES THAT I LIKE SECTION //////////////////


.s-bars{
	min-height: 300px;
	background-color: @skin;
}



//////////////// FORM SECTION //////////////////////////////////
.s-cta{
	height: 576px;
	background: #302e31 url(/public/images/about-section-bg.jpg) no-repeat center top;
	.hold{
		overflow: hidden;
	}
	.floating-text{
		max-width: 412px;
		padding-top: 125px;
		float: right;
		color: white;
		h2{
			font-size: 60px;
			font-weight: 700;
			text-transform: uppercase;
			line-height: 76px;
			padding-bottom: 10px;
			span{
				color: @red;
			}
		}
		p{
			font-size: 17px;
		}
		.mt{
			padding-top: 20px;
		}
		.container{
			text-align: center;
			margin-top: 25px;
			.button{
				display: inline-block;
				margin-right: 30px;
				&:last-child{
					margin-right: 0;
				}
			}
		}
	}
}




//////////////// TESTIMONIALS SECTION //////////////////////////////////
.s-testimonials{
	padding: 50px 0;
	background-color: @grey;
	color: white;
	li{
		.i-container{
			display: block;
			text-align: center;
			width: 100%;
			i{
				display: inline-block;
				font-size: 50px;
				transform: rotate(180deg);
			}
		}
		img{
			border-radius: 50%;
			width: 50px;
		}
		p{
			padding: 20px 0;
		}
		.name{
			font-size: 30px;
		}
		.sub-title{
			font-size: 13px;
		}
	}
}


//////////////// SOCIAL NETWORKS SECTION //////////////////////////////////
.s-socia-networks{
	a{
		display: block;
	}
	li{
		width: 25%;
		vertical-align: top;
		height: 200px;
		display: inline-block;
		text-align: center;
		overflow: hidden;
		&.twitter{background-color: @twitter; cursor: pointer;}
		&.linkedin{background-color: @linkedin; cursor: pointer;}
		&.skype{background-color: @skype; cursor: pointer;}
		&.facebook{background-color: @facebook; cursor: pointer;}
		&.github{background-color: @github; cursor: pointer;}
		&:hover{
			i::before, span{
				display: inline-block;
				color: white;
				font-size: 80px;
				line-height: 200px;

				@media @600{
					font-size: 60px;
					line-height: 100px;
				}
			}
		}
		@media @600{
			height: 100px;
		}
		i::before, span{
			display: inline-block;
			color: white;
			font-size: 70px;
			line-height: 200px;
			transition: font-size .2s;
			-webkit-transition: font-size .2s;

			@media @600{
				font-size: 50px;
				line-height: 100px;
			}
		}
		span{
			font-size: 30px;
			padding: 70px 0;
			line-height: 200px;
		}
	}
}



//////////////// FORM SECTION //////////////////////////////////
.s-form{
	background-color: @red;
	position: fixed;
	z-index: 0;
	overflow: hidden;
	bottom: 0;
	width: 100%;
	form{
		padding-top: 20%;
		max-width: 1000px;
	}
}



