////////////////////////////////////////////////////////////////
// GENERAL CSS
////////////////////////////////////////////////////////////////

//-------- MEDIA QUERY VARIABLES --------//
@2000: ~"screen and (max-width: 2000px)";
@1700: ~"screen and (max-width: 1700px)";
@1600: ~"screen and (max-width: 1600px)";
@1500: ~"screen and (max-width: 1500px)";
@1400: ~"screen and (max-width: 1400px)";
@1300: ~"screen and (max-width: 1300px)";
@1200: ~"screen and (max-width: 1200px)";
@1100: ~"screen and (max-width: 1100px)";
@ipadlc: ~"screen and (max-width: 1024px)";
@1000: ~"screen and (max-width: 1000px)";
@900: ~"screen and (max-width: 900px)";
@800: ~"screen and (max-width: 800px)";
@ipadpt: ~"screen and (max-width: 768px)";
@700: ~"screen and (max-width: 700px)";
@600: ~"screen and (max-width: 600px)";
@iphonelc: ~"screen and (max-width: 568px)";
@500: ~"screen and (max-width: 500px)";
@400: ~"screen and (max-width: 400px)";
@iphonept: ~"screen and (max-width: 320px)";
@retina: ~"(-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi)";
 
 
//--------------- IMPORTS ---------------//
 
@import "normalize.css";
@import "../icons/style.css"; // Icons
@import "/public/css/form-component.css"; // Form
@import "/public/css/morphing-component.css"; // Morphing Devices
@import "/public/css/foundation.tooltip.css"; // Morphing Devices

//---------------- FONTS ----------------//

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

//---------------- COLOURS ---------------//
@purple: #9e0fe0;

@grey: #4E4E56;
@red: #DA635D;
@skin: #DCD0C0;
@brown: #B1938B;

@red_lighter: #e9756f;
@red_icon: #ff6666;
@red_darker: #f14b42;
@black: #232323;
@transparent-grey: rgba(0,0,0, 0.2);
@transparent-grey2: rgba(0,0,0, 0.4);

@facebook: #3b5998;
@github: #8c429c;
@twitter: #00aced;
@linkedin: #007bb6;
@skype: #12A5F4;
 
//------------ PARENTS STYLES -----------//

body{
	font-size: 16px;
}

a{
	text-decoration: none;
	color: @purple;
}


h1, h2, h3, h4, h5, h6, p{
	margin: 0;
	line-height: 1.6;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 700;

	strong{
		color: @red;
	}
}

h5, h6{
	font-size: 26px;
}

//------------ OOCSS CLASSES ------------//

.hold{
	max-width: 1024px;
	margin: 0 auto;
	width: 100%;
	@media @1100{
		width: 95%;
	}
	@media @500{
		width: 90%;
	}
}

.long-hold{
	width: 97.5%;
	max-width: 1600px;
	display: inline-block;
	@media @1700{
		width: 95%;
	}
	@media @500{
		display: none;
	}
}

.red{
	color: @red;
}


/* General button style (reset) */
.button {
	background: @red;
	border: none;
	font-family: inherit;
	font-size: 16px;
	color: inherit;
	cursor: pointer;
	padding: 25px 45px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	// -webkit-transition: all 0.3s;
	// transition: all 0.3s;
}

.button-effect:active {
	background: @red_darker;
	top: 2px;
}

.button:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */


/* Button 5 */
.button-effect {
	color: #fff;
	height: 70px;
	// min-width: 260px;
	line-height: 24px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.button-effect span {
	display: inline-block;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.3s;
	-webkit-backface-visibility: hidden;
	-moz-transition: all 0.3s;
	-moz-backface-visibility: hidden;
	transition: all 0.3s;
	backface-visibility: hidden;
}

.button-effect:before {
	position: absolute;
	height: 100%;
	width: 100%;
	line-height: 2.5;
	font-size: 180%;
	left: 0;
	top: -100%;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

/* Button 5a */
.button-effect:hover span {
	-webkit-transform: translateY(300%);
	-ms-transform: translateY(300%);
	transform: translateY(300%);
}

.button-effect:hover:before {
	top: 0;
}


.column1-3{
	display: inline-block;
	width: 33.33%;
	box-sizing: border-box;
	vertical-align: top;
	text-align: center;
	@media @1000{
		width: 50%;
	}
	@media @500{
		width: 100%;
	}
	&:nth-child(1){
		padding-right: 3%;
		@media @500{
			padding: 0;
		}
	}
	&:nth-child(2){
		padding: 0 1.66%;
		@media @1000{
			padding-left: 3%;
		}
		@media @500{
			padding: 0;
		}
	}
	&:nth-child(3){
		padding-left: 3%;
		@media @1000{
			display: none;
		}
	}
}




.column1-2{
	display: inline-block;
	width: 50%;
	box-sizing: border-box;
	vertical-align: top;
	overflow: hidden;
	@media @600{
		width: 100px;
	}
	&:nth-child(1){
		padding-right: 2.5%;
	}
	&:nth-child(2){
		padding-left: 2.5%;
	}
}



////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
/////////////////// HOME PAGE 
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////



body{
	font: 16px "Open Sans", Arial;
	color: @grey;
}

.wrapper{
	position: relative;
	z-index: 1;
	background-color: white;
}



/////////////////// NAV MENU /////////////////////////////

.s-navigation{
	position: fixed;
	z-index: 10;
	text-align: center;
	width: 100%;
	background-color: @grey;
	opacity: 0;
	transition: opacity 0.2s;
	@media @1000{
		text-align: right;
	}
	@media @600{
		display: none;
	}

	&.opaque{
		opacity: 1;
	}

	.hold{
		display: inline-block;
		text-align: right;
		@media @1100{
			width: 97.5%;
		}
	}

	nav{
		a{
			display: inline-block;
			vertical-align: top;
			line-height: 70px;
			padding: 0 20px;
			color: white;
			font-size: 20px;
			font-weight: 700;
			transition: background-color .3s;
			@media @800{
				font-size: 16px;
				line-height: 50px;
				padding: 0 10px;
			}
			&.contact{
				background-color: @red;
			}
			&:hover{
				background-color: black;
			}
			&.left{
				float: left;
				background-color: transparent;
			}

			&:first-child{
				padding-left: 0;
			}
			h1{
				font-size: 20px;
				font-weight: 700;
				line-height: 70px;
				color: @red;
				@media @800{
					font-size: 16px;
				}
			}
		}
	}
}







//////////////// FIRST SECTION //////////////////////////////////
header{
	width: 100%;
	position: relative;
	background: url(/public/images/first-section-bg.jpg) no-repeat;
	background-size: cover;
	@media @1000{
		background-position-x: -400px;
	}
	@media @800{
		background-position-x: -440px;
	}
	.hold{
		h2,h3,p{
			margin: 0;
			color: @black;
			font-weight: bold;
			font-size: 30px;
			@media @1400{
				font-size: 25px;
			}
			@media @700{
				font-size: 20px;
			}
		}
		h3{
			font-size: 110px;
			margin-bottom: 30px;
			margin-left: -8px;
			@media @1400{
				font-size: 80px;
			}
			@media @700{
				font-size: 60px;
			}
		}
		p{
			.curly-brackets{
				font-size: 45px;
				color: @grey;
				@media @700{
					font-size: 30px;
				}
			}
		}
	}
	.arrow{
		display: block;
		position: absolute;
		left: 50%;
		width: 100px;
		height: 100px;
		background-color: rgba(0,0,0,0.3);
		cursor: pointer;
		margin-left: -50px;
		bottom: 50px;
		text-align: center;
		border-radius: 50%;
		-webkit-transition: background-color .2s;
		transition: background-color .2s;
		&:hover{
			background-color: rgba(0,0,0,0.4);
		}
		img{
			display: inline-block;
			margin-top: 40px;
		}
	}
}




//////////////// GREETINGS SECTION //////////////////////////////////

/*
.s-greetings{
	background-color: @grey;
	text-align: center;
	padding: 60px 0;
	.first{
		width: 100%;
		display: inline-block;
		h2{
			color: white;
			font-size: 40px;
		}
	}
	.second{
		width: 100%;
		display: inline-block;
		p{
			color: white;
			font-size: 24px;
		}
	}
	.button{
		margin-top: 40px;
	}
}
*/


//////////////// MORPHING SECTION //////////////////////////////////

.s-introduction{
	background-color: @skin;
	padding: 100px;

	#introduction-anchor{
		position: relative;
		bottom: 170px;
	}

	h3{
		letter-spacing: -2.1px;
		margin-top: -20px;
		font-size: 45px;
		margin-left: -3px;
		padding-bottom: 30px;
	}


	.md-slider{
		margin: 0;
	}
	.md-device{
		 button::before{
			font-family: 'icomoon';
			content: "\e606";
			transform: scaleX(-1);
			display: block;
		 }
	}

	p{
		font-size: 18px;
		padding-bottom: 15px;
	}
}



/////////// TECHONOLOGIES THAT I LIKE SECTION //////////////////


.s-techs{
	background-color: @skin;
	padding-bottom: 150px;

	.d-icons{
		text-align: left;
		li{
			display: inline-block;
			width: 118px;
			height: 97px;
			&:hover{
				i:before{
					color: @red_lighter;	
				}
			}
			i:before{
				font-size: 90px;
				color: @red;
				-webkit-transition: color .2s;
				transition: color .2s;
			}
		}
	}
}

//////////////// PORTFOLIO SECTION //////////////////////////////////


.s-portfolio{
	position: relative;
	overflow: hidden;

	#projects-anchor{
		position: relative;
		bottom: 70px;
	}

	h4{
		color: white;
		text-transform: uppercase;
	}

	p{
		color: white;
	}

	figure {
		background: @skin;
		position: relative;
		float: left;
		overflow: hidden;
		width: 25%;
		text-align: center;
		cursor: pointer;
		@media @1400{
			width: 50%;
		}
		@media @800{
			width: 100%;
		}
	}

	figure img{
		opacity: 0.7;
		-webkit-transition: opacity 0.35s;
		transition: opacity 0.35s;
		position: relative;
		display: block;
		min-height: 100%;
		width: 100%;
	} 

	figure:hover img {
		opacity: 0.4;
	}

	figure figcaption {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	figure figcaption::before, figure figcaption::after {
		position: absolute;
		top: 30px;
		right: 30px;
		bottom: 30px;
		left: 30px;
		content: '';
		opacity: 0;
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
	}

	figure figcaption::before {
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		-webkit-transform: scale(0,1);
		transform: scale(0,1);
	}

	figure figcaption::after {
		border-right: 1px solid #fff;
		border-left: 1px solid #fff;
		-webkit-transform: scale(1,0);
		transform: scale(1,0);
	}

	figure h4 {
		padding-top: 30%;
		-webkit-transition: -webkit-transform 0.35s;
		transition: transform 0.35s;
		-webkit-transform: translate3d(0,-20px,0);
		transform: translate3d(0,-20px,0);
	}

	figure p {
		padding: 20px 2.5em;
		opacity: 0;
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
		-webkit-transform: translate3d(0,20px,0);
		transform: translate3d(0,20px,0);
	}

	figure a {
		z-index: 9;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		outline: 0;
	}

	figure:hover figcaption::before, figure:hover figcaption::after {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	figure:hover h4, figure:hover p {
		opacity: 1;
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
}



//////////////// FORM SECTION //////////////////////////////////
.s-cta{
	height: 576px;
	background: #302e31 url(/public/images/about-section-bg.jpg) no-repeat center top;
	.hold{
		overflow: hidden;
	}
	.floating-text{
		max-width: 412px;
		padding-top: 125px;
		float: right;
		color: white;
		h2{
			font-size: 60px;
			font-weight: 700;
			text-transform: uppercase;
			line-height: 76px;
			padding-bottom: 10px;
			span{
				color: @red;
			}
		}
		p{
			font-size: 17px;
		}
		.mt{
			padding-top: 20px;
		}
		.container{
			text-align: left;
			margin-top: 25px;
			.button{
				display: inline-block;
				margin-right: 28px;
				padding-right: 38px;
				padding-left: 38px;
				&:last-child{
					margin-right: 0;
				}
			}
		}
	}
}




//////////////// TESTIMONIALS SECTION //////////////////////////////////
.s-testimonials{
	padding: 50px 0;
	background-color: @grey;
	color: white;
	li.column1-2{
		text-align: center;
		.i-container{
			display: block;
			width: 100%;
			i{
				display: inline-block;
				font-size: 50px;
				transform: rotate(180deg);
			}
		}
		img{
			border-radius: 50%;
			width: 50px;
			display: inline-block;
		}
		p{
			padding: 20px 0;
			text-align: center;
		}
		.name{
			font-size: 30px;
		}
		.sub-title{
			font-size: 13px;
		}
	}
}


//////////////// SOCIAL NETWORKS SECTION //////////////////////////////////
.s-socia-networks{
	a{
		display: block;
	}
	li{
		width: 25%;
		vertical-align: top;
		height: 200px;
		display: inline-block;
		text-align: center;
		overflow: hidden;
		&.twitter{background-color: @twitter; cursor: pointer;}
		&.linkedin{background-color: @linkedin; cursor: pointer;}
		&.skype{background-color: @skype; cursor: pointer;}
		&.facebook{background-color: @facebook; cursor: pointer;}
		&.github{background-color: @github; cursor: pointer;}
		&:hover{
			i::before, span{
				display: inline-block;
				color: white;
				font-size: 80px;
				line-height: 200px;

				@media @600{
					font-size: 60px;
					line-height: 100px;
				}
			}
		}
		@media @600{
			height: 100px;
		}
		i::before, span{
			display: inline-block;
			color: white;
			font-size: 70px;
			line-height: 200px;
			transition: font-size .2s;
			-webkit-transition: font-size .2s;

			@media @600{
				font-size: 50px;
				line-height: 100px;
			}
		}
		span{
			font-size: 30px;
			padding: 70px 0;
			line-height: 200px;
		}
	}
}



//////////////// FORM SECTION //////////////////////////////////
.s-form{
	background-color: @red;
	position: fixed;
	z-index: 0;
	overflow: hidden;
	bottom: 0;
	width: 100%;
	form{
		padding-top: 20%;
		max-width: 1000px;
	}
}



